/* 
General
*/




/* 
Main Game content
*/

main {
    min-height: 100vh;
}

#game-container,
#game-overlay {
    max-height: 800px;
	max-width: 800px;	
    border: 1px solid #000000;
}

#game-container {	
	position: relative;	
    background: #000000;
}

#game-overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7)
}

/* #game-overlay .row,
#game-overlay div {
	width: 100%;
}
 */
#game-col-1 {
	border-radius: 100% 0 0 0;
    background: #51d363;
}

#game-col-2 {
	border-radius: 0 100% 0 0;
    background: #f22713;
}

#game-col-3 {
	border-radius: 0 0 0 100%;
    background: #f5ed29;
}

#game-col-4 {
	border-radius: 0 0 100% 0;
    background: #0197e3;
}

#game-centre {
	position: absolute;
	z-index: 1;
	background: #000000;	
}