/* 

Testing


*/

.footer {
	display: none;
}

/* 
GOOGLE FONT
*/

@import url("https://fonts.googleapis.com/css?family=Maven+Pro");

/* 
General
*/

:root {
	--green-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
		#00db78 0px 0px 20px, #00db78 0px 0px 30px, #00db78 0px 0px 40px,
		#00db78 0px 0px 50px, #00db78 0px 0px 75px;
	--red-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
		#d33131 0px 0px 20px, #d33131 0px 0px 30px, #d33131 0px 0px 40px,
		#d33131 0px 0px 50px, #d33131 0px 0px 75px;
	--yelow-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
		#f7bf18 0px 0px 20px, #f7bf18 0px 0px 30px, #f7bf18 0px 0px 40px,
		#f7bf18 0px 0px 50px, #f7bf18 0px 0px 75px;
	--blue-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
		#1d89f4 0px 0px 20px, #1d89f4 0px 0px 30px, #1d89f4 0px 0px 40px,
		#1d89f4 0px 0px 50px, #1d89f4 0px 0px 75px;
	--info-shadow:#fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
		#13181d 0px 0px 20px, #13181d 0px 0px 30px, #13181d 0px 0px 40px,
		#13181d 0px 0px 50px, #13181d 0px 0px 75px;
	--menu-shadow:#13181d 0px 0px 5px, #13181d 0px 0px 10px, #fff 0px 0px 15px,
		#13181d 0px 0px 20px, #13181d 0px 0px 30px, #13181d 0px 0px 40px,
		#13181d 0px 0px 50px, #13181d 0px 0px 75px;
}

body {
	font-family: "Maven Pro", sans-serif;
}

.bg-dark {
	background-image: linear-gradient(120deg, #13181d, #ffffff, #13181d);
}

h2,
.navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
}

form {
	min-height: 100%;
}

.btn.focus, .btn:focus {
	box-shadow: 0 0 0 0.2rem transparent;
}

#js-alerts {
	display: none;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.9);
	font-weight: 700;
}

hr {
	box-shadow: var(--green-shadow)
}

/* 
Nav
*/

a:hover {
	color: #ffffff;
	text-shadow: var(--red-shadow)
}

.nav-link {
	font-size: 24px;
}

.navbar-dark {
	z-index: 55;
	background-color: #13181d;
	-webkit-box-shadow: 5px 5px 15px 5px #13181d;
	box-shadow: 5px 5px 15px 5px #13181d;
}

/* 
Main Game content
*/

main {
	min-height: 100vh;
}

#game-container,
#game-centre,
#game-overlay,
#game-menu {
	max-height: 600px;
	max-width: 600px;
	border-radius: 13%;
}

#game-container,
#game-centre,
#game-overlay,
#game-menu,
#game-col-0,
#game-col-1,
#game-col-2,
#game-col-3 {
	border: 1px solid #13181d;
	-webkit-box-shadow: 5px 5px 15px 5px #13181d;
	box-shadow: 5px 5px 15px 5px #13181d;
}

#game-container {
	position: relative;
	background: #13181d;
}

#game-col-0,
#game-col-0:hover {
	border-radius: 25% 0 0 0;
	background-image: linear-gradient(120deg, #00db78, #00db78, #d33131);
}

#game-col-1 {
	border-radius: 0 25% 0 0;
	background-image: linear-gradient(120deg, #d33131, #d33131, #1d89f4);
}

#game-col-2 {
	border-radius: 0 0 0 25%;
	background-image: linear-gradient(120deg, #00db78, #f7bf18, #f7bf18);
}

#game-col-3 {
	border-radius: 0 0 25% 0;
	background-image: linear-gradient(120deg, #f7bf18, #1d89f4, #1d89f4);
}

/* 
Game centre
*/

#game-centre {
	position: absolute;
	z-index: 3;
	background-color: #13181d;
}

#game-centre .lead {
    font-size: 2.25rem;
    font-weight: 600;
    color: #474c50;
}

#round-number {
	font-size: 4rem;
	color: #13181d;
	text-shadow: var(--info-shadow);
}

/* 
Game Overlay and Game Menu 
*/

#game-overlay,
#game-menu {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}

#game-overlay,
#load-game,
#statistics-modal  {
	display: none;
	z-index: 4;
}

#game-overlay,
#game-menu,
#load-game,
#statistics-modal  {
	background-color: rgba(0, 0, 0, 0.4);
}

#game-menu .col-6:hover i,
#game-centre button:hover i,
.wrapper .fa-gamepad:hover,
.wrapper .fa-trash-alt:hover {
	transform: scale(1.3);
}

.cursor {
	cursor: pointer;
}

input[type=checkbox] {
	top: 0.8rem;
	width: 2rem;
	height: 2rem;
}

.form-check label {
	font-size: 1.5rem;
}

.fa-gamepad,
.fa-music {
	text-shadow: var(--green-shadow);
}

.fa-cloud-download-alt,
.fa-times,
.fa-trash-alt,
#game-centre h2 p {
	text-shadow: var(--red-shadow);
}
.fa-question {
	text-shadow: var(--info-shadow);
}

.fa-chart-area {
	text-shadow: var(--yelow-shadow);
}


.fa-cogs {
	text-shadow: var(--blue-shadow);

}

/* 
New game form
*/

.btn-outline-success {
	background: #13181d;
}

.btn-outline-success:hover {
	color: #13181d;
	font-weight: 800;
	box-shadow: var(--green-shadow)
}

.fa-times:hover {
	transform: scale(1.2);
}

/* 
Load / statistics-modal game
*/

.wrapper h3 {
	color: #d33131;
}

.wrapper h4 {
	color: #00db78;
}

#load-game,
#statistics-modal {
	border-radius: 0 0 5% 5%;
	height: 90vh;
	box-shadow: var(--menu-shadow)
}

#load-game > .row:nth-child(2),
#statistics-modal > .row:nth-child(2) {
	height: 70vh;
}

.table thead th {
	border-top: 0;	
}